.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px 100px;
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  mix-blend-mode: difference;
  color: white;
}

svg {
  transform: scale(1.7);
  margin: 0.5rem 0.5rem;
}

ul {
  display: flex;
}

li {
  margin: auto 15px;
}
